<h1>Hello <%= @user.username %></h1>
<h4><%= @user.username %> Characters</h4>
<% @user.characters.each do |character| %>
<a href= "/characters/<%= character.id %>"><%= character.name %> - <%= character.char_class %></a><br />
<% end %>
