<h1>Edit <%= @character.name %></h1>
<form action="/characters/<%= @character.id %>" method="post">
  <input id ="hidden" type="hidden" name="_method" value="patch">
  <div class="form_group">
    <label for="name">Name:</label>
    <input id="name" type="text" class="form-control" name="character[name]" value="<%= @character.name %>" required>
    <br></br>
  </div>
  <div class="form_group">
    <label for="race">Race:</label>
    <input id="race" type="text" class="form-control" name="character[race]" value="<%= @character.race %>" required>
    <br></br>
  </div>
  <div class="form_group">
    <label for="char_class">Class:</label>
    <input id="char_class" type="text" class="form-control" name="character[char_class]" value="<%= @character.char_class %>" required>
    <br></br>
  </div>
  <button class="btn btn-default" type="submit" name="submit" value="submit">Submit</button> <a href="/characters/<%= @character.id %>">Cancel</a>
</form>
