<h1>Character</h1>
<br />
<h4>
  Name - <%= @character.name %>
  <br></br>
  Race - <%= @character.race %>
  <br></br>
  Class - <%= @character.char_class %>
</h4>
<br />
<% if @character.user_id == @current_user.id %>
  <form action="/characters/<%= @character.id %>/delete" method="post">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <p>
      <a href="/characters/<%= @character.id %>/edit">Edit</a>
      <button class="btn btn-default" type="submit" name="delete" value="delete">Delete</button>
    </p>
  </form>
<% end %>
